<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="GenericTransactionLog" version="1.2.6" targetFramework="net45" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net40" />
  <package id="Lucene.Net.Linq" version="3.1.45" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="Remotion.Linq" version="1.13.183.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>